body{
    background-color: #1A1A1A;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    margin: 0px
    
}

.Oliver_Holmberg_text{
    font-size: 1.8rem;
}




header {
    
    background-color: #1A1A1A;
    font-size: 1.3rem;
    padding-bottom: 10px;
    padding-top: 10px;
    justify-content: space-between;
    list-style: None;
    display: flex;
    gap: 1rem;
    align-items:center;
    font-weight: Bold;
    border-bottom: 0.5rem solid #F0F0F0;
    margin-left: 0px;
    
}

.headerlist{
    list-style: None;
    display: flex;
    gap: 3rem;
    margin-right: 5rem;
    
}



a {
    text-decoration: none;
    color: #F0F0F0;
}








main{
    margin: 0px;
    margin-top: 5rem;
    color: #F0F0F0;
}




span{
   display:flex;
   align-items:normal;
   margin-left: 5rem;
}




.introcontainer{
    margin-top: 0;
    display: flex;
    justify-content: space-between;
}

.introtext{
    width: 24rem;
    height: 12rem;
    margin-left: 5rem;
}

.CatIMG_div{
    margin-right: 5rem;
}


.CatIMG{
    width: 21rem;
    border: solid 0.5rem #F0F0F0;
    border-radius: 34rem;
    
}





.socials_div{
    border-bottom:  solid 0.5rem #F0F0F0;
    padding-top: 5rem;
}

.socials{ 
    align-items:center;
    padding-left: 0px;
    display: flex;
    gap: 2rem; 
    list-style: none;
    margin-left:5rem;

}
.socialpictures{
    width: 3rem;
    height: auto;
}

.MailButton{
    background: none;
    border: none;
    color: #F0F0F0;
    text-decoration:none;
    font-size: 1.6rem;
}

.MailButton:hover{
    cursor:pointer;
    text-decoration:underline;
}









